<html>
    <head>
      {% if title %}
        <title>{{ title }} - IoT Portal </title>
      {% else %}
        <title> IoT Portal </title>
      {% endif %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
      <div id="header-main">
          <img src="{{url_for('static', filename='images/Logo.png')}}">
          <h1> IoT Connected Devices Platform </h1>
      </div>
      <div>
        <nav id="site-menu">
          <div class="container">
            <ul>
              <li><a href="{{ url_for('index') }}">Home</a></li>
              <li><a href="{{ url_for('login') }}">Login</a></li>
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
          </div>
        </nav>
       </div>
      <hr>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li> {{message}}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      {% block content %} {% endblock %}
    </body>
</html>
