<!DOCTYPE html>
<html>
  <head>
    <title> Wipro Connected Cloud Platform </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href={{url_for('static', filename="css/main.css")}}>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
  </head>
  <body>
    <div id="header-main">
        <img src="{{url_for('static', filename='images/Logo.png')}}">
        <h1> IoT Connected Devices Platform </h1>
    </div>
    <nav id="site-menu">
      <div class="container">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </div>
    </nav>
    <div id="main-menu">
      <div class="row">
        <div class="main-menu-item" id="mDefine">
          <div id="iDefine"> <img src="{{url_for('static', filename='images/Define.png')}}"></div>
          <div id="ldefine"><p> Define </p></div>
        </div>
        <div class="main-menu-item" id="mConnect" >
          <div id="iConnect"> <img src="{{url_for('static', filename='images/Connect.png')}}"></div>
          <div id="lConnect"><p> Connect </p></div>
        </div>
        <div class="main-menu-item" id="mMonitor" >
          <div id="iMonitor"> <img src="{{url_for('static', filename='images/Monitor.jpeg')}}"></div>
          <div id="lMonitor"><p> Monitor </p></div>
        </div>
      </div>
      <div class="row">
        <div class="main-menu-item" id="mManage">
          <div class="holder" id="iManage"> <img src="{{url_for('static', filename='images/Manage.jpeg')}}"> </div>
          <div id="lManage"><p> Manage </p></div>
        </div>
        <div  class="main-menu-item" id="mAnalyze">
          <div class="holder" id="iAnalyze"> <img src="{{url_for('static', filename='images/Analyze.jpeg')}}"> </div>
          <div id="lAnalyze"><p> Analyze </p></div>
        </div>
        <div  class="main-menu-item" id="mMonetize">
          <div id="iMonetize"> <img src="{{url_for('static', filename='images/Monetize.png')}}"> </div>
          <div id="lMonetize"><p> Monetize </p></div>
        </div>
      </div>
    </div>
      <!--
    <div id="sub-menu">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  </p>
    </div>

  <div class="container" margin-top="30px" margin-left="50px">
      <div class="main-menu-row row">
        <div id="mDefine" class="main-menu-col column">
          <div class="holder" id="iDefine"> <img src="{{url_for('static', filename='images/Define.png')}}"> </div>
          <div id="ldefine"><p align="center" padding-bottom="2px"> Define </p></div>
        </div>
        <div id="mConnect" class="main-menu-col column">
          <div class="holder" id="iConnect"> <img src="{{url_for('static', filename='images/Connect.png')}}"> </div>
          <div id="lConnect"><p align="center" padding-bottom="2px"> Connect </p></div>
        </div>
        <div id="mMonitor" class="main-menu-col column">
          <div class="holder" id="iMonitor"> <img src="{{url_for('static', filename='images/Monitor.jpeg')}}"> </div>
          <div id="lMonitor"><p align="center" padding-bottom="2px"> Monitor </p></div>
        </div>
      </div>
      <div class="main-menu-row row">
        <div id="mManage" class="main-menu-col column">
          <div class="holder" id="iManage"> <img src="{{url_for('static', filename='images/Manage.jpeg')}}"> </div>
          <div id="lManage"><p align="center" padding-bottom="2px"> Manage </p></div>
        </div>
        <div id="mAnalyze" class="main-menu-col column">
          <div class="holder" id="iAnalyze"> <img src="{{url_for('static', filename='images/Analyze.jpeg')}}"> </div>
          <div id="lAnalyze"><p align="center" padding-bottom="2px"> Analyze </p></div>
        </div>
        <div id="mMonetize" class="main-menu-col column">
          <div class="holder" id="iMonetize"> <img src="{{url_for('static', filename='images/Monetize.png')}}"> </div>
          <div id="lMonetize"><p align="center" padding-bottom="2px"> Monetize </p></div>
        </div>
      </div>
    </div>
   <div class="row" id="DefineMenu">
    </div>
    <div id="ConnectMenu">
    </div>
    <div id="MonitorMenu">
    </div>
    <div id="ManageMenu"></div>
    <div id="AnalyzeMenu"></div>
    <div id="MonetizeMenu"></div> -->
    <footer id="footer-main">
      <p> Copyright &copy 2017 Wipro Corporation </p>
    </footer>
  </body>
</html>
